


/* colors */
.red {
    color: red;
}

/* underline */
.under {
    border-bottom: 2px solid black;
}

/* prism left align over write */
code.language-javascript {
    white-space: pre-line;
}

/* title-bar */
.title-bar {
    border-bottom: 3px solid gray;
}

/* menu panel */
.menu-panel {
    position: fixed;
    padding: 5px;

}

/* info panel */
.info-panel {
    background-color: gainsboro;
    min-height: 400px;
    padding: 5px;

}