/*base */

body {
  background-color: black;
  /*background-color: rgb(255, 30, 255);*/
  /*background-color: #242*/
}

h1 {
  color: rgb(138, 160, 163);
  font-size: 5rem;
  text-align: center;
}


/*class*/

.block-hover {
  background-color: black;
  border: 1px solid black;
  height: 5px;
  width: 5px;
}

.box {
  border: 1px solid white;
  height: 50px;
  width: 50px;
}

.box:hover {
  background-color: white;
}

.box-sm {
  height: 20px;
  width: 20px;
}

.box-sm:hover {
  background-color: white;
}

.button {
  background-color: black;
  border: 5px solid orange;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin: 10px auto;
  outline: 0;
  padding: 10px 20px;
  width: auto;
}

.button:hover {
  background-color: orange;
  border: 5px solid black;
  color: black;
}

.button:active {
  background-color: darkorange;
}

.fun-title {
  color: rgba(44, 200, 100, 0.5);
  font-size: 50px;
  text-transform: uppercase;
  transform: translateX(50px);
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.target {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.yellow {
  background-color: yellow;
}
